@model IEnumerable<FrontEndWeb.Models.Event>

@{
    ViewData["Title"] = "BOIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Events</h1>
<hr />

<p>
    <a asp-action="BOCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img class="profilePicTiny" src=@item.ImageUrl alt="ProfilePic" />
                    }
                    else
                    {
                        <p>null</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "BOEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "BODetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "BODelete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
